.App {
   margin-left:10px;
}
.Input {
   margin-bottom:8px
}
.Input input {
   margin-left:5px
}

.btn-section {
   margin:7px 0
}

.btn-section button {
   margin-right:9px;
   font-size:15px;
}

.result-section {
   margin-top:10px;
}

.result-section strong, .result-section span {
   font-size:16px;
}